{% extends "guest/base.html" %}
{% block header %}
    {% include "header_dashboard.html" %}
{% endblock %}
{% comment %} {% block content %}
<div class="container">
    <table class="table table-bordered table-hover text-center mt-3"> 
        <thead>
            <div class="row">
                <tr class="">
                    <th colspan="5"><h1>Transaction Details</h1></th>
                </tr>
            </div>
            <div class="row">
                <tr>
                    <th scope="col">Origin</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Concept</th>
                    <th scope="col">Kind</th>
                    <th scope="col">Date</th>
                </tr>
            </div>
        </thead>
        <tbody>
                <tr>
                    <td scope="row">{{ transaction.agent }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.concept }}</td>
                    <td>{{ transaction.kind }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>                
        </tbody>
    </table>
    <table class="table table-bordered table-hover text-center">
        <thead>
            <th scope="col">Comission</th>
            <th scope="col">Amount</th>
        </thead>   
        <tbody>             
            {% for comission in transaction.comissions.all %}
                <tr>
                    <td>{{ comission.kind }}</td>
                    <td>{{ comission.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} {% endcomment %}

{% block content %}
<div class="container">
    <table class="table table-bordered table-hover text-center mt-3"> 
        <thead>
            <tr>
                <th colspan="5"><h1>Transaction Details</h1></th>
            </tr>
            <tr class="d-none d-sm-table-row">
                <th scope="col">Origin</th>
                <th scope="col">Amount</th>
                <th scope="col">Concept</th>
                <th scope="col">Kind</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">{{ transaction.agent }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.concept }}</td>
                <td>{{ transaction.kind }}</td>
                <td>{{ transaction.timestamp }}</td>
            </tr>                
    </tbody>
    </table>
    <div class="table-responsive d-block d-sm-none">
        <table class="table table-bordered table-hover text-center mt-3">
            <tbody>             
                <tr>
                    <th scope="row">Origin</th>
                    <td>{{ transaction.agent }}</td>
                </tr>
                <tr>
                    <th scope="row">Amount</th>
                    <td>{{ transaction.amount }}</td>
                </tr>
                <tr>
                    <th scope="row">Concept</th>
                    <td>{{ transaction.concept }}</td>
                </tr>
                <tr>
                    <th scope="row">Kind</th>
                    <td>{{ transaction.kind }}</td>
                </tr>
                <tr>
                    <th scope="row">Date</th>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="table table-bordered table-hover text-center d-none d-sm-table">
        <thead>
            <th scope="col">Commission</th>
            <th scope="col">Amount</th>
        </thead>   
        <tbody>             
            {% for commission in transaction.commissions.all %}
                <tr>
                    <td>{{ commission.kind }}</td>
                    <td>{{ commission.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}