{% extends "guest/base.html" %}
{% block header %}
    {% include "header_dashboard.html" %}
{% endblock %}
{% block content %}
<div class="container">
    <table class="table table-bordered table-hover text-center mt-2"> 
        <thead>
            <div class="row">
                <tr class="">
                    <th colspan="5"><h1>{% trans "Transaction Details" %}</h1></th>
                </tr>
            </div>
            <div class="row">
                <tr>
                    <th scope="col">{% trans "Origin" %}</th>
                    <th scope="col">{% trans "Amount" %}</th>
                    <th scope="col">{% trans "Concept" %}</th>
                    <th scope="col">{% trans "Kind" %}</th>
                    <th scope="col">{% trans "Date" %}</th>
                </tr>
            </div>
        </thead>
        <tbody>
                <tr>
                    <td scope="row">{{ transaction.agent }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.concept }}</td>
                    <td>{{ transaction.kind }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>                
        </tbody>
    </table>
    <table class="table table-bordered table-hover text-center">
        <thead>
            <th scope="col">{% trans "Comission" %}</th>
            <th scope="col">{% trans "Amount" %}</th>
        </thead>   
        <tbody>             
            {% for comission in transaction.comissions.all %}
                <tr>
                    <td>{{ comission.kind }}</td>
                    <td>{{ comission.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}