
<html>
<head>
	{% load bootstrap5 %}
	{% load static %}
	{% bootstrap_css %}
	<link href="{% static 'css/pdf.css' %}" rel="stylesheet">
</head>
<body>
  <img src="{% static 'img/polaris_logo.png' %}" id="logo">
  <hr>
  <h3>Transfer voucher</h3>
  <div class="container">
    <table class="table table-bordered text-center mt-2"> 
        <thead>
            <div class="row">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Origin</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Concept</th>
                    <th scope="col">Kind</th>
                    <th scope="col">Date</th>
                </tr>
            </div>
        </thead>
        <tbody>
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td scope="row">{{ transaction.agent }}</td>
                    <td>{{ transaction.amount }}€</td>
                    <td>{{ transaction.concept }}</td>
                    <td>{{ transaction.kind }}</td>
                    <td>{{ transaction.timestamp|date:"d/m/Y" }}</td>
                </tr>                
        </tbody>
    </table>
    <table class="table table-bordered text-center">
        <thead>
            <th scope="col">Comission</th>
            <th scope="col">Amount</th>
        </thead>   
        <tbody>             
            {% for comission in transaction.comissions.all %}
                <tr>
                    <td>{{ comission.kind }}</td>
                    <td>{{ comission.amount }}€</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>