{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html>
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
<!-- bloque para cabecera -->
{% block header %}{% endblock %}
<!-- bloque de contenidos -->
{% block content %}{% endblock %}
<!-- bloque para footer -->
{% block footer %}{% endblock %}
<!-- bloque para js -->
{% block domready %}{% endblock %}
    </body>
</html>



