<footer class="container-fluid bg-drk-gray py-2">
    <div class="container">
        <div class="row text-center">
            <!-- navigation -->
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="#" class="link-under">Currency exchange</a></li>
                    <li><a href="#" class="link-under">Responsible business</a></li>
                    <li><a href="#" class="link-under">Sustainability</a></li>
                </ul>
            </div>
            <!-- legal -->
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="#" class="link-under">Legal notice</a></li>
                    <li><a href="#" class="link-under">Cookies</a></li>
                    <li><a href="#" class="link-under">Privacy policy</a></li>
                </ul>
            </div>
            <!-- social networks -->
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="#" class="link-under">Twitter</a></li>
                    <li><a href="#" class="link-under">Facebook</a></li>
                    <li><a href="#" class="link-under">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>