<footer class="container-fluid bg-drk-gray py-2">
    <div class="container">
        <div class="row text-center">
            <!-- navegación -->
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="#" class="link-under">Cuentas Particulares</a></li>
                    <li><a href="#" class="link-under">Cuentas Empresa</a></li>
                    <li><a href="#" class="link-under">Divisas y monedas</a></li>
                </ul>
            </div>
            <!-- legales -->
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="#" class="link-under">Aviso legal</a></li>
                    <li><a href="#" class="link-under">Cookies</a></li>
                    <li><a href="#" class="link-under">Política de privacidad</a></li>
                </ul>
            </div>
            <!-- RRSS -->
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="#" class="link-under">Twitter</a></li>
                    <li><a href="#" class="link-under">Facebook</a></li>
                    <li><a href="#" class="link-under">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>