{% load static %}
{% load i18n %}

<header class="container-fluid bg-stg-blue pt-2 pb-4 px-2"> 
    <div class="container">
        <div class="row d-md-flex d-none justify-content-end mb-2">
            <!-- {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                {% with language.code|length|add:"2"|stringformat:"s"|add:":" as path_start %}
                <div class="w-auto text-center bg-lgt-gray border-end border-dark">
                    <a href="/{{ language.code }}/{{ request.get_full_path|slice:path_start }}" 
                        {% if language.code == LANGUAGE_CODE %} 
                            class="link-under selected"
                        {% else %}
                            class="link-under"
                        {% endif %}>
                        {{ language.name_local|title }}
                    </a>
                </div>
                {% endwith %}
            {% endfor %} -->
            <form action="{% url 'set_language' %}" method="post" class="w-auto">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local|title }}
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value={% trans "Go" %}>
            </form>
        </div>
        <div class="row">
            <!-- logo -->
            <div class="col-lg-4 col-md-5 col-12 order-1 order-md-1 d-flex justify-content-md-start justify-content-center align-content-center" >
                <a href="{% url 'home' %}"><img src="{% static 'img/polaris_logo_white.svg' %}" id="logo"></a>
            </div>
            <!-- menu big screen-->
            <div class="col-lg-4 order-2 d-none d-lg-flex justify-content-center align-items-center">
                <a href="#" class="link-nos-white">{% trans "People" %}</a>
                <a href="#" class="link-nos-white">{% trans "Businesses" %}</a>
                <a href="#" class="link-nos-white">{% trans "ATMs" %}</a>
                <a href="#" class="link-nos-white">{% trans "Contact" %}</a>
            </div>
            <!-- login, register, language, menu -->
            <div class="col-md-2 col-6 order-3 d-lg-none d-flex justify-content-md-end justify-content-center align-items-center p-0">
                <div class="btn-group">
                    <button class="btn btn-close-white dropdown-toggle fw-bold" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        {% trans "Menu" %}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                        <li><a class="dropdown-item d-md-none" href="{% url 'register' %}">{% trans "Become a customer" %}</a></li>
                        <li><a class="dropdown-item" href="#">{% trans "ATMs" %}</a></li>
                        <li><a class="dropdown-item" href="#">{% trans "People" %}</a></li>
                        <li><a class="dropdown-item" href="#">{% trans "Businesses" %}</a></li>
                        <li><a class="dropdown-item" href="#">{% trans "Contact" %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-6 order-md-2 order-2 d-flex justify-content-lg-end justify-content-center align-items-center">
                <div class="row">
                    <div class="col-md-5 bg-lgt-gray p-2 w-auto d-none d-md-block">
                        <a href="{% url 'login' %}" class="fw-bold text-center link-nos">{% trans "Access" %}</a>
                    </div>
                    <div class="col-5 p-2 w-auto d-md-none">
                        <a href="{% url 'login' %}" class="link-nos fw-bold text-white text-center">{% trans "Access" %}</a>
                    </div>
                    <div class="col-md-5 bg-cyan p-2 w-auto d-md-block d-none ms-2">
                        <a href="{% url 'register' %}" class="link-nos fw-bold text-white text-center">{% trans "Become a customer" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>    