{% load static %}

<header class="container-fluid bg-stg-blue pt-2 pb-4 px-2"> 
    <div class="container">
        <div class="row d-md-flex d-none justify-content-end mb-2">
            <div class="w-auto text-center bg-lgt-gray border-end border-dark">
                <a href="#" class="link-under">ES</a>
            </div>
            <div class="w-auto text-center bg-lgt-gray">
                <a href="#" class="link-under">EN</a>
            </div>
        </div>
        <div class="row">
            <!-- logo -->
            <div class="col-lg-4 col-md-5 col-12 order-1 order-md-1 d-flex justify-content-md-start justify-content-center align-content-center" >
                <a href="{% url 'home' %}"><img src="{% static 'img/polaris_logo_white.svg' %}" id="logo"></a>
            </div>
            <!-- menu big screen-->
            <div class="col-lg-4 order-2 d-none d-lg-flex justify-content-center align-items-center">
                <a href="#" class="link-nos-white">People</a>
                <a href="#" class="link-nos-white">Businesses</a>
                <a href="#" class="link-nos-white">ATMs</a>
                <a href="#" class="link-nos-white">Contact</a>
            </div>
            <!-- login, register, language, menu -->
            <div class="col-md-2 col-6 order-3 d-lg-none d-flex justify-content-md-end justify-content-center align-items-center p-0">
                <div class="btn-group">
                    <button class="btn btn-close-white dropdown-toggle fw-bold" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        Menu
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                        <li><a class="dropdown-item d-md-none" href="{% url 'register' %}">Become a customer</a></li>
                        <li><a class="dropdown-item" href="#">ATMs</a></li>
                        <li><a class="dropdown-item" href="#">People</a></li>
                        <li><a class="dropdown-item" href="#">Businesses</a></li>
                        <li><a class="dropdown-item" href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-6 order-md-2 order-2 d-flex justify-content-lg-end justify-content-center align-items-center">
                <div class="row">
                    <div class="col-md-5 bg-lgt-gray p-2 w-auto d-none d-md-block">
                        <a href="{% url 'login' %}" class="fw-bold text-center link-nos">Access</a>
                    </div>
                    <div class="col-5 p-2 w-auto d-md-none">
                        <a href="{% url 'login' %}" class="link-nos fw-bold text-white text-center">Access</a>
                    </div>
                    <div class="col-md-5 bg-cyan p-2 w-auto d-md-block d-none ms-2">
                        <a href="{% url 'register' %}" class="link-nos fw-bold text-white text-center">Become a customer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>    