{% extends "guest/base.html" %}

{% block title %}
    Polaris Bank
{% endblock %}

{% block content %}
    <!-- banner nivel de riesgo -->
        {% include "guest/product/includes/risk_banner.html" %}
        <div id="content" class="container">
            <!-- lista de productos en formato card -->
            <div class="card-deck row justify-content-evenly d-md-flex d-none my-2">
                {% for product in products %}
                    {% include "guest/product/includes/card.html" %}
                {% endfor %}
            </div>
            <!-- list of products in split-banner format -->
            <div class="container my-4">
                {% for product in products %}
                    {% include "guest/product/includes/split_banner.html" %}
                {% endfor %}
            </div>
        </div>
{% endblock %}
