<div class="container">
    <div class="row bg-lgt-gray border border-dark m-md-4 m-2">
        <div class="col-12 text-center border-bottom border-dark fs-4 p-1">Nivel de riesgo</div>
        <div class="col-2 d-flex justify-content-center fs-1 p-1">1/6</div>
        <div class="col-md-5 col-10 p-1">Este número es indicativo del riesgo del producto, siendo 1 / 6 indicativo de menor riesgo y 6 / 6 de mayor riesgo.</div>
        <div class="col-md-5 d-md-block d-none p-1">Polaris está adherido al Fondo de Garantía de Depósitos de Entidades de Crédito de PaísQueNoExiste. La cantidad máxima garantizada es de 100.000€ por la totalidad de depósitos constituidos en Polaris por persona.</div>
    </div>
</div>