{% extends "guest/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    {% include 'header_dashboard.html' %}
{% endblock %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row pt-2">
            <div class="col-md-2 bg-lgt-gray d-flex flex-column p-3 mb-2 mb-md-0" id="left-menu"><p class="text-center d-none d-md-block"><b><u>Cuentas:</u></b></p>
                <ul class="list-group list-group-flush bg-lgt-gray">
                    {% for account in accounts %}
                    <a href="http://127.0.0.1:8000/client/{{ account.slug }}/" class="list-group-item list-group-item-action rounded bg-lgt-gray text-sm-left text-center text-capitalize">{{ account.alias }}</a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-9 col-12 ms-2 rounded-4 border" id="main-data">
                    <div class="row bg-stg-blue text-white" id="account-info">
                        <div class="col-6 d-flex p-3">
                            <h2 class="m-0 text-capitalize">{{ acc_detail.alias }}</h2>
                        </div>
                        <div class="col-6 d-flex justify-content-end align-items-end p-4">
                            <p class="m-0">Balance: {{ acc_detail.balance }}€</p>
                        </div>
                    </div>
                    <div class="row bg-white" >
                        <div class="col-6 d-flex p-3">
                            <p class="m-0">Ingresos último mes: {{ acc_detail.income }}€</p>
                        </div>
                        <div class="col-6 d-flex justify-content-end align-items-end p-3">
                            <p class="m-0">Gastos último mes: {{ acc_detail.expenses }}€</p>
                        </div>
                    </div>
                <div class="row bg-stg-blue" id="info-nav">
                    <div class="col-12 rounded d-flex justify-content-center align-items-center p-3">
                        <button onclick="showCards()" class="link-nos-white" id="show-cards">Cards</button><span class="text-white">|</span>
                        <a href="#" class="link-nos-white">Search Movements</a><span class="text-white">|</span>
                        <button onclick="showMovements()" class="link-nos-white" id="show-movements">See Transactions</button>
                    </div>
                </div>
                <div class="row d-block" id="cards-container">
                    {% if cards %}
                        <div class="row p-4">
                            {% for card in cards %}
                                {% include "client/card/card_detail.html" %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>No hay tarjetas registradas en esta cuenta.</p>
                    {% endif %}
                </div>
                <div class="row d-none" id="movements-container">
                    {% if transactions %}
                        {% include "transactions/movements.html" %}
                    {% else %}
                        <p>No hay movimientos registrados en esta cuenta.</p>
                    {% endif %}
                </div>     
            </div>
        </div> 
    </div>
{% endblock %}

{% block domready %}
    <script>
        function showCards() {
            let cards = document.getElementById('cards-container');
            let movements = document.getElementById('movements-container');
            movements.classList.remove("d-block");
            movements.classList.add("d-none");
            cards.classList.add("d-block");
        }
        function showMovements() {
            let cards = document.getElementById('cards-container');
            let movements = document.getElementById('movements-container');
            cards.classList.remove("d-block");
            cards.classList.add("d-none");
            movements.classList.add("d-block");
        }
    </script>
{% endblock %}

{% block footer %}
    {% include "guest/footer.html" %}
{% endblock %}
