{% extends "guest/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    {% include 'header_dashboard.html' %}
{% endblock %}

{% load static %}

{% block content %}
    {% include 'messages.html' %}
    <div class="container pb-3">
        <div class="row pt-2">
           {% include 'client/sidebar.html' %}
            <div class="col-lg-9 col-md-8 col-12 ms-2 rounded-4 border" id="main-data">
                {% if acc_detail %}
                    {% include 'client/account/detail.html' %}        
                {% else %}
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center align-items-end p-5 m-5">
                            <h3>It seems like you don't have any accounts with us yet, please <a href="{% url "create_account" %}">create an account.</a></h3>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div> 
    </div>
{% endblock %}

{% block domready %}
    <script>
        function showCards() {
            let cards = document.getElementById('cards-container');
            let movements = document.getElementById('movements-container');
            movements.classList.remove("d-block");
            movements.classList.add("d-none");
            cards.classList.remove("d-none");
            cards.classList.add("d-block");
        }
        function showMovements() {
            let cards = document.getElementById('cards-container');
            let movements = document.getElementById('movements-container');
            cards.classList.remove("d-block");
            cards.classList.add("d-none");
            movements.classList.remove("d-none");
            movements.classList.add("d-block");
        }
    </script>
{% endblock %}

{% block footer %}
    {% include "guest/footer.html" %}
{% endblock %}
