{% extends "guest/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    {% include 'header_dashboard.html' %}
{% endblock %}

{% block content %}
    <div class="container overflow-hidden">
        <div class="row pt-2">
            <div class="col-2 bg-lgt-gray d-flex flex-column p-3" id="left-menu">
                <ul class="list-group list-group-flush bg-lgt-gray">Cuentas
                    {% for account in accounts %}
                    <a href="#" class="list-group-item list-group-item-action rounded bg-lgt-gray">{{ account.alias }}</a>
                    {% endfor %}
                </ul><hr>
                <ul class="list-group list-group-flush bg-lgt-gray">Tarjetas
                    {% for card in cards %}
                    <a href="#" class="list-group-item list-group-item-action rounded bg-lgt-gray">{{ card.alias }}</a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-9 ms-2 rounded-4 border" id="main-data">
                    <div class="row bg-stg-blue text-white" id="account-info">
                        <div class="col-6 d-flex p-3">
                            <h2 class="m-0">Cuenta1</h2>
                        </div>
                        <div class="col-6 d-flex justify-content-end align-items-end p-4">
                            <p class="m-0">Saldo: 1000€</p>
                        </div>
                    </div>
                    <div class="row bg-white" >
                        <div class="col-6 d-flex p-3">
                            <p class="m-0">Ingresos último mes: 2000€</p>
                        </div>
                        <div class="col-6 d-flex justify-content-end align-items-end p-3">
                            <p class="m-0">Gastos último mes: 1000€</p>
                        </div>
                    </div>

                <div class="row bg-stg-blue" id="info-nav">
                    <div class="col-12 rounded d-flex justify-content-center align-items-center p-3">
                        <a href="#" class="link-nos-white">Buscar Movimientos</a>
                        <a href="#" class="link-nos-white">Transferencias/Traspasos</a>
                        <a href="#" class="link-nos-white">Tarjetas</a>
                        <a href="#" class="link-nos-white">Ver más</a>
                    </div>
                </div>
                <div class="row">
                    <div class="row p-4">
                        <h4>Título de lo que sea</h4>
                    </div>
                    <div class="row p-4">
                        <ul>
                            {% comment %} <li>bucle para lo que sea</li> {% endcomment %}
                        </ul>
                    </div>
                </div>          
            </div>
        </div> 
    </div>
{% endblock %}
{% block footer %}
    {% include "guest/footer.html" %}
{% endblock %}