{% extends "guest/base.html" %}
{% load i18n %}

{% block title %}{% trans "Edit your profile" %}{% endblock %}

{% block header %}
    {% include "header_dashboard.html" %}
{% endblock header %}

{% block content %}
<div class="container pt-4">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <h2>{% trans "Edit your account" %}</h2>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center">
        <p>{% trans "You can edit your account using the following form:" %}</p>
    </div>
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <form method="post" enctype="multipart/form-data" id="profile-edit-form">
            {{ user_form.as_p }}
            {{ client_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Save changes"></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}