{% extends "guest/base.html" %}
{% load static %}

{% block title %}Create a client account{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block content %}
    <div class="container">
        <!-- risk level banner -->
       {% include "guest/product/risk_banner.html" %}
    </div>
    <!-- Register -->
        <div class="container d-flex align-items-center justify-content-center">
            <form method="post" class="col-12" id="register-form">
                <div class="row">
                    <div class="col-2 d-flex justify-content-center align-items-center p-0">
                        <img src="{% static "img/clock.png" %}" alt="clock" id="clock-img">
                    </div>
                    <div class="col-10 d-flex justify-content-center align-items-center p-0">
                        <h5 class="mb-0">Get your account in just one minute.</h5>
                    </div><hr>
                    <div class="col-12">  
                            {{ user_form.as_p}}                     
                            {% csrf_token %}
                        <br>
                        <a href="">Personal data processing</a><br>
                        <input type="checkbox" name="privacy" id="privacy"><span> I have read, I understand and agree to the processing of my personal data.</span><br><br>
                        <input type="submit" value="Register"><br><br>
                    </form>
                        <a href="#">Learn more</a>
                    </div>
                </div>       
        </div> 
{% endblock %}