{% extends "base.html" %}

{% block title %}Create a client account{% endblock %}

{% load static%}

{% block content %}
    <header class="container-fluid bg-stg-blue pt-2 pb-4 px-5">
        <div class="row d-md-flex d-none justify-content-end mb-2">
            <div class="w-auto text-center bg-lgt-gray border-end border-dark">
                <a href="#" class="link-under">ES</a>
            </div>
            <div class="w-auto text-center bg-lgt-gray">
                <a href="#" class="link-under">EN</a>
            </div>
        </div>
        <div class="row">
            <!-- logo -->
            <div id="logo" class="row">
                <div class="col-md-6"><a href="{% url 'home' %}"><img src="{% static "img/polaris_logo_white.svg" %}" alt="polaris_logo"/></a></div     
            
        </div>
        <div class="d-flex justify-content-end align-items-end text-center fst-italic">
            <p id="phone-contact">Teléfono de ayuda: 922-155-155</p>
          </div>
    </header>
    <div class="container">
        <!-- banner nivel de riesgo -->
        <div class="row bg-lgt-gray border border-dark m-md-4 m-2">
            <div class="col-12 text-center border-bottom border-dark fs-4 p-1">Nivel de riesgo</div>
            <div class="col-2 d-flex justify-content-center fs-1 p-1">1/6</div>
            <div class="col-md-5 col-10 p-1">Este número es indicativo del riesgo del producto, siendo 1 / 6 indicativo de menor riesgo y 6 / 6 de mayor riesgo.</div>
            <div class="col-md-5 d-md-block d-none p-1">Polaris está adherido al Fondo de Garantía de Depósitos de Entidades de Crédito de PaísQueNoExiste. La cantidad máxima garantizada es de 100.000€ por la totalidad de depósitos constituidos en Polaris por persona.</div>
        </div>
    </div>
    
    <!-- Registro -->
        <div class="container d-flex align-items-center justify-content-center">
            <form method="post" class="col-12">
                <div class="col-12">
                    <h5>5 minutos hasta tener tu cuenta con nosotros</h5><hr> 

                    {% for field in user_form %}
                        <div>                            
                            {{ field.label_tag }} <br>
                            {{ field }}
                            {{ field.errors }} 
                        </div>
                    {% endfor %}
                    {% csrf_token %}
                    <br>
                    <a href="">Tratamiento de datos personales</a>
                    <label for="privacy"> <input type="checkbox" name="privacy" id="privacy"><span>He leído, comprendo y acepto el tratamiento de datos personales.</span></label><br><br>
                    <input type="submit" value="Registrarse" ><br><br>
                    <a href="#">más información</a>
                </div>
            </form>
        </div> 
{% endblock %}