{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html>
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            {% block header %}
                {% block logo %}
                {% endblock %}
                <img src="{% static "img/polaris_logo_white.svg" %}}" alt="polaris_logo"/>
            {% endblock %}
        </div>                  
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>