{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html>
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            {% block header %}
            {% endblock %}
        </div>                  
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>