{% extends "guest/base.html" %}
{% block header %}
    {% include "header_dashboard.html" %}
{% endblock %}
{% block content %}
<div class="px-4 py-5 my-5 row" id="main_container">    
    <h1 class="display-5 fw-bold text-body-emphasis text-center">{% block heading %}{% endblock %}          </h1>
  <div class="col-lg-6 mx-auto">
      <br>
    <div class="d-grid gap-2 d-sm-flex justify-content-center">
      <a href="{% url 'dashboard' %}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3" >Go to dashboard</button></a>
        <a href={% block previous_url %}{% endblock %}><button type="button" class="btn btn-outline-secondary btn-lg px-4">{% block secondary_text %}{% endblock %}</button></a>
    </div>
  </div>
</div>
{% endblock %}
