{% load static %}
{% load i18n %}

<header class="container-fluid bg-stg-blue pt-2 pb-4 px-5">
    <div class="container">
        <div class="row d-md-flex d-none justify-content-end mb-2">
            <!-- {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                {% with language.code|length|add:"2"|stringformat:"s"|add:":" as path_start %}
                <div class="w-auto text-center bg-lgt-gray border-end border-dark">
                    <a href="/{{ language.code }}/{{ request.get_full_path|slice:path_start }}" 
                        {% if language.code == LANGUAGE_CODE %} 
                            class="link-under selected"
                        {% else %}
                            class="link-under"
                        {% endif %}>
                        {{ language.name_local|title }}
                    </a>
                </div>
                {% endwith %}
            {% endfor %} -->
            <form action="{% url 'set_language' %}" method="post" class="w-auto">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local|title }}
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go"> 
            </form>
        </div>
        <div class="row">
            <!-- logo -->
            <div class="col-lg-2 col-md-5 col-12 order-1 order-md-1 d-flex justify-content-center align-content-center" >
                <a href="{% url 'dashboard' %}"><img src="{% static 'img/polaris_logo_white.svg' %}" id="logo"></a>
            </div>
            <!-- menú extendido para pantallas grandes-->
            <div class="col-lg-8 col-7 order-2 d-none d-md-flex justify-content-center align-items-center">
                <button class="btn btn-close-white dropdown-toggle fw-bold" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                    {% trans "Profile" %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                    <li><a class="dropdown-item" href="{% url 'edit' %}">{% trans "Edit profile" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'password_change' %}">{% trans "Change password" %}</a></li>
                </ul>
                <a href="#" class="link-nos-white-r">{% trans "Mailbox" %}</a>
                <a href="#" class="link-nos-white-r">{% trans "Help" %}</a>
                <a href="#" class="link-nos-white-r">{% trans "Contact" %}</a>
            </div>
            <div class="col-lg-2 col-12 order-2 d-flex justify-content-center align-items-center">
                <div class="row">
                    <div class="col-md-5 text-white p-2 w-auto d-md-block">
                        {% if request.user.is_logged %}
                            {% trans "Hi" %} {{ user.first_name }},
                        <a href="{% url "logout" %}" class="text-decoration-underline text-white">{% trans "Log out" %}</a>
                        {% else %}
                        <a class="text-white" href="{% url "login" %}">{% trans "Log in" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- login, registro, idiomas, menú desplegable -->
            <div class="col-md-2 col-12 order-3 d-md-none d-flex justify-content-center align-items-center">
                <div class="btn-group">
                    <button class="btn btn-close-white dropdown-toggle fw-bold " type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        {% trans "Profile" %}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                        <li><a class="dropdown-item" href="{% url 'edit' %}">{% trans "Edit profile" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'password_change' %}">{% trans "Change password" %}</a></li>
                    </ul>
                </div>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="link-nos-white-r m-2" href="#">{% trans "Help" %}</a>
                    <a class="link-nos-white-r m-2" href="#">{% trans "Mailbox" %}</a>
                    <a class="link-nos-white-r m-2" href="#">{% trans "Contact" %}</a>
                </div>
            </div>
        </div>
    </div>
</header>   

