{% load static %}
{% load i18n %}

<header class="container-fluid bg-stg-blue pt-2 pb-4 px-5">
    <div class="container">
        <div class="row d-md-flex d-none justify-content-end mb-2">
            <form action="{% url 'set_language' %}" method="post" class="w-auto d-flex align-items-center">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select class="form-select form-select-sm me-2" name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        {{ language.name_local|title }}
                    </option>
                    {% endfor %}
                </select>
                <button class="btn btn-light btn-sm" type="submit">{% trans "Go" %}</button>
            </form>
        </div>
    <!-- Logo -->
    <div class="row">
        <a class="col-md-6" href="{% url 'home' %}"><img src="{% static "img/polaris_logo_white.svg" %}" class="mx-auto d-block d-md-inline" id="logo" alt="polaris_logo"/></a>
        <!-- Información de contacto -->
        <div class="col-md-6 d-md-flex justify-content-end align-items-end text-center fst-italic">
            <p id="phone-contact" class="p-0 m-0">{% trans "Helpline:" %} 922-155-155</p>
        </div>
    </div>  
</header>     