{% extends "base_login.html" %}

{% block title %}Iniciar sesión{% endblock %}

{% block header %}
  {% include "header.html" %}
{% endblock header %}

{% block content %}
  <!-- Formulario de inicio de sesión -->
  <div class="container">
    <div class="container d-flex align-items-center justify-content-center h-100 mt-5">
    <form action="{% url 'login' %}" method="post" class="col-12 col-md-6" id="log-in-form">
      <div class="col-12">
        <h4>Iniciar sesión</h4><hr>
        {% if form.errors %}
          <p>
            El nombre de usuario y contraseña no coinciden.
            Por favor, inténtalo de nuevo.
          </p>
        {% endif %}
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Log-in"></p>
    </form>
      <p>Si no tienes una cuenta, <a href={% url "register" %}>registrate aquí.</a></p>
      <p><a href="{% url 'password_reset' %}">¿Has olvidado tu contraseña?</a></p>
      </div>
    </div>
  </div>
{% endblock %}

