{% extends "guest/base.html" %}
{% load i18n %}

{% block title %}{% trans "Account recovery" %}{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-12 p-4">
        <h1>{% trans "Account recovery" %}</h1>
        <p>{% trans "We have sent you an e-mail with instructions on how to regain access to your account." %}</p>
        <p>{% trans "If you have not received the email, please make sure you have entered the same email address you used to register." %}</p>
    </div>
</div>
{% endblock %}