{% extends "guest/base.html" %}

{% block title %}Account recovery{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="container d-flex align-items-center justify-content-center h-100 mt-5">
        <div class="row">
            <form method="post" class="col-12" id="password-reset-form">
                <div class="row">
                    <h5>New password:</h5><hr>
                </div>
            {% if validlink %}
            <p>Please insert and confirm your new password:</p>
            <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change password"/></p>
            </form>
        </div>
    {% else %}
    <p>The link to the password recovery is invalid, possibly it has already been used.
        Please start a new password recovery process.</p>
    </div>
</div>

{% endif %}
{% endblock %}