{% extends "base_login.html" %}

{% block title %}Recuperación de cuenta{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="container pt-4">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <h2>¿Has olvidado tu contraseña?</h2>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center">
        <p>Introduce tu correo para obtener una contraseña nueva.</p>
    </div>
<div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <form method="post" id="email-form">
            {{ form.as_p }}
            <p><input type="submit" value="Enviar e-mail"></p>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}