{% extends "base.html" %}

{% block title %}Recuperación de cuenta{% endblock %}

{% block content %}
<div class="container">
    <div class="container d-flex align-items-center justify-content-center h-100 mt-5">
        <div class="row">
            <form method="post" class="col-12" id="password-reset-form">
                <div class="row">
                    <h5>Nueva contraseña:</h5><hr>
                </div>
            {% if validlink %}
            <p>Por favor, inserta y confirma tu nueva contraseña:</p>
            <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Cambiar contraseña"/></p>
            </form>
        </div>
    {% else %}
    <p>El enlace a la recuperación de contraseña no es válido, posiblemente ya ha sido utilizado.
    Por favor, inicie un nuevo proceso de recuperación de contraseña.</p>
    </div>
</div>

{% endif %}
{% endblock %}