{% extends "guest/base.html" %}

{% block title %}Account recovery{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-12 p-4">
        <h1>Account recovery</h1>
        <p>We have sent you an e-mail with instructions on how to regain access to your account.</p>
        <p>If you have not received the email, please make sure you have entered the same email address you used to register.</p>
    </div>
</div>
{% endblock %}