{% extends "guest/base.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block header %}
    {% include "header_dashboard.html" %}
{% endblock header %}

{% block content %}
<div class="container pt-4">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <h2>{% trans "Change your password" %}</h2>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center">
        <p>{% trans "Use the form below to change your password." %}</p>
    </div>
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <form method="post" id="password-change-form">
            {{ form.as_p }}
            <p><input type="submit" value="{% trans 'Change password' %}"></p>
            {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}