{% extends "guest/base.html" %}
{% load i18n %}

{% block title %}{% trans "Create a bank account" %}{% endblock %}

{% block header %}
    {% include "header_dashboard.html" %}
{% endblock %}

{% block content %}
{% include "messages.html" %}
<div class="container pt-4">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <h2>{% trans "Create a bank account" %}</h2>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center">
        <p>{% trans "Please, insert an alias for your account:" %}</p>
    </div>
<div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <form method="post" id="new-account-form">
            <label>{% trans "Alias:" %} </label> {{ form.alias }}
            <br><br>
            {% csrf_token %}
            <p><input type="submit" value="{% trans 'Create new account' %}""></p>
        </form>
    </div>
</div>
{% endblock %}




