{% load static %}
{% load i18n %}

{% block content %}
    <div class="row bg-stg-blue text-white" id="account-info">
        <div class="col-7 d-flex p-3 d-flex justify-content-start align-items-center">
            <div>
                <h2 class="m-0 text-capitalize">
                    {{ acc_detail.alias }} ({{ acc_detail.code }})
                    <a href="{% url 'modify_account'  acc_detail.slug %}"><img class="ml-hgt mb-4" src="{% static 'img/white_gear.png' %}"></a>
                </h2>
            </div>
        </div>
        <div class="col-5 d-flex justify-content-end align-items-center">
            <p class="m-0">{% trans "Balance:" %} {{ acc_detail.balance }}€</p>
        </div>
    </div>
    <div class="row bg-white" >
        <div class="col-6 d-flex p-3">
            <p class="m-0">{% trans "Income (last 30 days):" %} {{ income }}{% trans "€" %}</p>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-end p-3">
            <p class="m-0">{% trans "Expenses (last 30 days):" %} {{ expenses }}{% trans "€" %}</p>
        </div>
    </div>
    <div class="row bg-stg-blue d-flex" id="info-nav">
        <div class="col-12 rounded d-flex justify-content-center align-items-center p-3 text-center">
            <a href="javascript:void(0);" onclick="showCards()" class="link-nos-white-r" id="show-cards">{% trans "Cards" %}</a><span class="text-white">|</span>
            <a href="javascript:void(0);" class="link-nos-white-r">{% trans "Search Movements" %}</a><span class="text-white">|</span>
            <a href="javascript:void(0);" onclick="showMovements()" class="link-nos-white-r" id="show-movements">{% trans "See Transactions" %}</a>
        </div>
    </div>
    <div class="row d-block" id="cards-container">
        {% if acc_detail.cards.all %}
            <div class="row p-4">
                {% for card in acc_detail.cards.all %}
                    {% include "client/card/card_detail.html" %}
                {% endfor %}
            </div>
        {% else %}
            <p class="p-4">
                {% trans "There are no cards registered for this account." %}
            </p>
        {% endif %}
    </div>
    <div class="row d-none" id="movements-container">
        {% if acc_detail.transactions.all %}
            {% with acc_detail.transactions.all as transactions %}
                {% include "transactions/movements.html" %}
            {% endwith %}
        {% else %}
        <p class="p-4">
            {% trans "There are no movements registered for this account." %}
        </p>
        {% endif %}
    </div> 
    <script>
        function showCode(code) {
            alert(`{% trans "Your account code is:" %} ${code}`);
        }    
    </script>    
{% endblock %}