{% load static %}
<div class="col-6 d-flex flex-column align-items-center">
    <div class="row">
        <h2 class="col-12 text-center text-capitalize">{{ card.alias }}
            <a href="http://127.0.0.1:8000/client/card/{{ card.id }}/modify"><img class="ml-hgt2 mb-4" src="{% static 'img/gear_8.png' %}"></a>
        </h2>
    </div>
    <div class="row image-container">
        <img src="{{ card.image.url }}" style="width: 500px;" alt="Card"/>
        <div class="d-lg-block d-none">
            <p class="overlay-code">{{ card.code }}</p>
        </div>
        <div class="d-lg-block d-none">
            <p class="overlay-alias">{{ user.first_name }} {{ user.last_name }}</p>
        </div>
    </div>
    <div class="row">
        <p class="col-12">Status: {{ card.status }}</p>
    </div>
</div>

