{% load static %}
{% load i18n %}
<div class="col-6 d-flex flex-column align-items-center">
    <div class="row">
        <h2 class="col-12 text-center text-capitalize">{{ card.alias }}
            <a href="{% url 'modify_card' card.id %}"><img class="ml-hgt mb-4" src="{% static 'img/gear_8.png' %}"></a>
        </h2>
    </div>
    <div class="row image-container">
        <img src="{{ card.image.url }}" style="width: 500px;" alt="Card"/>
        <div class="d-lg-block d-none">
            <p class="overlay-code">{{ card.code }}/{{ card }}</p>
        </div>
        <div class="d-lg-block d-none">
            <p class="overlay-alias">{{ user.first_name }} {{ user.last_name }}</p>
        </div>
    </div>
    <div class="row">
        <p class="col-12">{% trans "Status:" %} {{ card.status }}</p>
    </div>
</div>

