{% load i18n %}
{% extends "guest/base.html" %}

{% block title %}{% trans "Modify card" %}{% endblock %}

{% block header %}
    {% include "header_dashboard.html" %}
{% endblock %}

{% block content %}
<div class="container pt-4">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <h2>{% trans "Card Modification" %}</h2>
    </div>
<div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <form method="post" id="new-account-form">
            <label>{% trans "New Alias: %}</label> {{ form.alias }}
            <br><br>
            {% csrf_token %}
            <label>{% trans "Status:" %}</label> {{ form.status }}
            <br><br>
            {% csrf_token %}
            <p><input type="submit" value={% trans "Save changes" %}></p>
        </form>
    </div>
</div>
{% endblock %}
